[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-rspec"]
	path = vim/bundle/vim-rspec
	url = https://github.com/taq/vim-rspec.git
[submodule "vim/bundle/vim-scratch"]
	path = vim/bundle/vim-scratch
	url = git://github.com/chrismetcalf/vim-scratch.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/vim-searchfold"]
	path = vim/bundle/vim-searchfold
	url = https://github.com/vim-scripts/searchfold.vim.git
[submodule "vim/src/vim-javascript"]
	path = vim/src/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/src/nerdtree"]
	path = vim/src/nerdtree
	url = git://github.com/miketierney/nerdtree.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/src/wandering-vim-color"]
	path = vim/src/wandering-vim-color
	url = git://github.com/miketierney/wandering.vim.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/vim-ragtag"]
	path = vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/vim-colors-wandering"]
	path = vim/bundle/vim-colors-wandering
	url = git://github.com/miketierney/wandering.vim.git
[submodule "vim/bundle/vim-superstatus"]
	path = vim/bundle/vim-superstatus
	url = https://github.com/Lokaltog/vim-superstatus.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim-janus"]
	path = vim-janus
	url = git://github.com/miketierney/janus.git
[submodule "colorschemes/tomorrow-theme"]
	path = colorschemes/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "colorschemes/vim-mac-classic-theme"]
	path = colorschemes/vim-mac-classic-theme
	url = https://github.com/nelstrom/vim-mac-classic-theme.git
[submodule "vim/bundle/cakebaker-scss-syntax.vim"]
	path = vim/bundle/cakebaker-scss-syntax.vim
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-align"]
	path = vim/bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-rake"]
	path = vim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "colorschemes/solarized"]
	path = colorschemes/solarized
	url = git://github.com/altercation/solarized
[submodule "vim/bundle/vim-rvm"]
	path = vim/bundle/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
[submodule "vim/bundle/snipmate-snippets"]
	path = vim/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets
[submodule "vim/bundle/vim-markdown-preview"]
	path = vim/bundle/vim-markdown-preview
	url = https://github.com/nelstrom/vim-markdown-preview.git
[submodule "vim/bundle/clam"]
	path = vim/bundle/clam
	url = https://github.com/sjl/clam.vim.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-vroom"]
	path = vim/bundle/vim-vroom
	url = https://github.com/skalnik/vim-vroom.git
[submodule "vim/bundle/vim-buffergator"]
	path = vim/bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "vim/bundle/badwolf"]
	path = vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-numbertoggle"]
	path = vim/bundle/vim-numbertoggle
	url = git://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/snippets"]
	path = vim/snippets
	url = https://github.com/miketierney/snipmate-snippets-ext.git
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-htmlvalidator"]
	path = vim/bundle/vim-htmlvalidator
	url = https://github.com/sorin-ionescu/vim-htmlvalidator.git
[submodule "vim/bundle/vim-ruby-sinatra"]
	path = vim/bundle/vim-ruby-sinatra
	url = https://github.com/hallison/vim-ruby-sinatra.git
