[submodule "vim/src/jslint.vim"]
	path = vim/src/jslint.vim
	url = https://github.com/hallettj/jslint.vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-rspec"]
	path = vim/bundle/vim-rspec
	url = https://github.com/taq/vim-rspec.git
[submodule "vim/bundle/vim-scratch"]
	path = vim/bundle/vim-scratch
	url = https://github.com/vim-scripts/scratch.vim.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/vim-searchfold"]
	path = vim/bundle/vim-searchfold
	url = https://github.com/vim-scripts/searchfold.vim.git
[submodule "vim/src/vim-javascript"]
	path = vim/src/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/src/nerdtree"]
	path = vim/src/nerdtree
	url = git://github.com/miketierney/nerdtree.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/src/wandering-vim-color"]
	path = vim/src/wandering-vim-color
	url = git://github.com/miketierney/wandering.vim.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/src/snipMate-snippets"]
	path = vim/src/snipMate-snippets
	url = git://github.com/miketierney/snipmate-snippets.git
[submodule "vim/bundle/vim-ragtag"]
	path = vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim/src/vim-colors-solarized"]
	path = vim/src/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-colors-wandering"]
	path = vim/bundle/vim-colors-wandering
	url = git://github.com/miketierney/wandering.vim.git
[submodule "vim/bundle/vim-superstatus"]
	path = vim/bundle/vim-superstatus
	url = https://github.com/Lokaltog/vim-superstatus.git
[submodule "vim/bundle/vim-tagbar"]
	path = vim/bundle/vim-tagbar
	url = https://github.com/majutsushi/tagbar.git
